@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Geist Mono, ui-monospace, monospace;
  --font-mono: 'Giest Mono', 'Fira Code', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.5rem;
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2079 0.0399 265.7275);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2079 0.0399 265.7275);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2079 0.0399 265.7275);
  --primary: oklch(0.2079 0.0399 265.7275);
  --primary-foreground: oklch(0.9843 0.0017 247.8393);
  --secondary: oklch(0.9684 0.0068 247.8951);
  --secondary-foreground: oklch(0.2079 0.0399 265.7275);
  --muted: oklch(0.9684 0.0068 247.8951);
  --muted-foreground: oklch(0.5547 0.0407 257.4404);
  --accent: oklch(0.9684 0.0068 247.8951);
  --accent-foreground: oklch(0.2079 0.0399 265.7275);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --border: oklch(0.9290 0.0126 255.5317);
  --input: oklch(0.9290 0.0126 255.5317);
  --ring: oklch(0.2079 0.0399 265.7275);
  --chart-1: oklch(0.2079 0.0399 265.7275);
  --chart-2: oklch(0.9684 0.0068 247.8951);
  --chart-3: oklch(0.5547 0.0407 257.4404);
  --chart-4: oklch(0.6368 0.2078 25.3259);
  --chart-5: oklch(0.7616 0.1493 70.0238);
  --sidebar: oklch(0.2079 0.0399 265.7275);
  --sidebar-foreground: oklch(0.9843 0.0017 247.8393);
  --sidebar-primary: oklch(0.9843 0.0017 247.8393);
  --sidebar-primary-foreground: oklch(0.2079 0.0399 265.7275);
  --sidebar-accent: oklch(0.5547 0.0407 257.4404);
  --sidebar-accent-foreground: oklch(0.9843 0.0017 247.8393);
  --sidebar-border: oklch(0.2784 0.0296 256.8480);
  --sidebar-ring: oklch(0.9843 0.0017 247.8393);
  --destructive-foreground: oklch(0.9843 0.0017 247.8393);
  --font-sans: Geist Mono, ui-monospace, monospace;
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: 'Giest Mono', 'Fira Code', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --shadow-color: hsl(222.2 47.4% 11.2%);
  --shadow-opacity: 0.1;
  --shadow-blur: 1rem;
  --shadow-spread: 0.25rem;
  --shadow-offset-x: 0rem;
  --shadow-offset-y: 0.25rem;
  --letter-spacing: normal;
  --spacing: 0.25rem;
  --shadow-2xs: 0rem 0.25rem 1rem 0.25rem hsl(222.2000 47.4000% 11.2000% / 0.05);
  --shadow-xs: 0rem 0.25rem 1rem 0.25rem hsl(222.2000 47.4000% 11.2000% / 0.05);
  --shadow-sm: 0rem 0.25rem 1rem 0.25rem hsl(222.2000 47.4000% 11.2000% / 0.10), 0rem 1px 2px -0.75px hsl(222.2000 47.4000% 11.2000% / 0.10);
  --shadow: 0rem 0.25rem 1rem 0.25rem hsl(222.2000 47.4000% 11.2000% / 0.10), 0rem 1px 2px -0.75px hsl(222.2000 47.4000% 11.2000% / 0.10);
  --shadow-md: 0rem 0.25rem 1rem 0.25rem hsl(222.2000 47.4000% 11.2000% / 0.10), 0rem 2px 4px -0.75px hsl(222.2000 47.4000% 11.2000% / 0.10);
  --shadow-lg: 0rem 0.25rem 1rem 0.25rem hsl(222.2000 47.4000% 11.2000% / 0.10), 0rem 4px 6px -0.75px hsl(222.2000 47.4000% 11.2000% / 0.10);
  --shadow-xl: 0rem 0.25rem 1rem 0.25rem hsl(222.2000 47.4000% 11.2000% / 0.10), 0rem 8px 10px -0.75px hsl(222.2000 47.4000% 11.2000% / 0.10);
  --shadow-2xl: 0rem 0.25rem 1rem 0.25rem hsl(222.2000 47.4000% 11.2000% / 0.25);
  --tracking-normal: normal;
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(0.9843 0.0017 247.8393);
  --card: oklch(0 0 0);
  --card-foreground: oklch(0.9843 0.0017 247.8393);
  --popover: oklch(0 0 0);
  --popover-foreground: oklch(0.9843 0.0017 247.8393);
  --primary: oklch(0.9843 0.0017 247.8393);
  --primary-foreground: oklch(0.2079 0.0399 265.7275);
  --secondary: oklch(0.2800 0.0369 259.9740);
  --secondary-foreground: oklch(0.9843 0.0017 247.8393);
  --muted: oklch(0.2800 0.0369 259.9740);
  --muted-foreground: oklch(0.7107 0.0351 256.7877);
  --accent: oklch(0.2800 0.0369 259.9740);
  --accent-foreground: oklch(0.9843 0.0017 247.8393);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --border: oklch(0.2800 0.0369 259.9740);
  --input: oklch(0.2800 0.0369 259.9740);
  --ring: oklch(0.9843 0.0017 247.8393);
  --chart-1: oklch(0.9843 0.0017 247.8393);
  --chart-2: oklch(0.2800 0.0369 259.9740);
  --chart-3: oklch(0.7107 0.0351 256.7877);
  --chart-4: oklch(0.3959 0.1331 25.7205);
  --chart-5: oklch(0.7616 0.1493 70.0238);
  --sidebar: oklch(0 0 0);
  --sidebar-foreground: oklch(0.9843 0.0017 247.8393);
  --sidebar-primary: oklch(0.9843 0.0017 247.8393);
  --sidebar-primary-foreground: oklch(0.2079 0.0399 265.7275);
  --sidebar-accent: oklch(0.7107 0.0351 256.7877);
  --sidebar-accent-foreground: oklch(0.9843 0.0017 247.8393);
  --sidebar-border: oklch(0.2800 0.0369 259.9740);
  --sidebar-ring: oklch(0.9843 0.0017 247.8393);
  --destructive-foreground: oklch(0.9843 0.0017 247.8393);
  --radius: 0.5rem;
  --font-sans: Geist Mono, ui-monospace, monospace;
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: 'Giest Mono', 'Fira Code', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.5;
  --shadow-blur: 1.5rem;
  --shadow-spread: 0.5rem;
  --shadow-offset-x: 0rem;
  --shadow-offset-y: 0.5rem;
  --letter-spacing: normal;
  --spacing: 0.25rem;
  --shadow-2xs: 0rem 0.5rem 1.5rem 0.5rem hsl(0 0% 0% / 0.25);
  --shadow-xs: 0rem 0.5rem 1.5rem 0.5rem hsl(0 0% 0% / 0.25);
  --shadow-sm: 0rem 0.5rem 1.5rem 0.5rem hsl(0 0% 0% / 0.50), 0rem 1px 2px -0.5px hsl(0 0% 0% / 0.50);
  --shadow: 0rem 0.5rem 1.5rem 0.5rem hsl(0 0% 0% / 0.50), 0rem 1px 2px -0.5px hsl(0 0% 0% / 0.50);
  --shadow-md: 0rem 0.5rem 1.5rem 0.5rem hsl(0 0% 0% / 0.50), 0rem 2px 4px -0.5px hsl(0 0% 0% / 0.50);
  --shadow-lg: 0rem 0.5rem 1.5rem 0.5rem hsl(0 0% 0% / 0.50), 0rem 4px 6px -0.5px hsl(0 0% 0% / 0.50);
  --shadow-xl: 0rem 0.5rem 1.5rem 0.5rem hsl(0 0% 0% / 0.50), 0rem 8px 10px -0.5px hsl(0 0% 0% / 0.50);
  --shadow-2xl: 0rem 0.5rem 1.5rem 0.5rem hsl(0 0% 0% / 1.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}